<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
            .text-h1{
                font-family: lobster;
                color: #fff;
            }
            .location{
                padding-bottom: 20px;

            }
            b{
                margin-top: 400px;
            }
            
        </style>
       
</head>
<body class="text-center " style="background-color:#333">
        <nav class="navbar navbar-dark ",style="background-color:#333">
                <a href="{{url_for('index')}}" class="navbar-brand">MYSQL_WEB_CLIENT</a>
                <ul class="navbar-nav">
                  <li><a href="{{url_for('index')}}" class="nav-link">about</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li><a href="{{url_for('connect')}}" class="nav-link">connect</a></li>
                  </ul>
              </nav>
    <div class="container-fluid col-sm-4 b">
    <div class="location">   
    <h1 class = " text-h1 text-center" style="color:#fff">MYSQL-WEB-CLIENT</h1> 
    <form class="form-signin">
        <div class="location">
        <input type = "text"name="localhost" placeholder="input hostname" required=""class="form-control">
        <input type = "text" name="user" placeholder="input user" required=""class="form-control">
        <input type = "password"name="password" placeholder="input password"  required=""class="form-control">
        <input type = "text" name="database" placeholder="input database"required="" class="form-control">
        </div>
        <button class ="btn btn-secondary btn-block" id = "buttton-url" >connect to database</button>
        </form>
    </div>
    <p style="color:white">{{connect_err}}</p>>
    </div>
</body>
<html>    